<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/student/home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
        </form>
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">Contact Information</div>
                <div class="panel-body">
                    <b>Phone: </b><p th:utext="${phoneToShow}"></p>
                    <b>Address: </b><p th:utext="${addressToShow}"></p>

                    <form autocomplete="off" action="#" th:action="@{/student/contactinfo}"
                          th:object="${contactInfoRequest}" method="post" class="form-horizontal"
                          role="form">
                        <h2>change address</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label>Phone</label>
                                <input type="text" th:field="*{phone}" placeholder="phone"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label>Address</label>
                                <input type="text" th:field="*{address}"
                                       placeholder="address" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">change address</button>
                            </div>
                        </div>
                        <span th:utext="${successMessage}" style="color:darkgreen"></span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>