<!--
- An home page for an student
-
- @author Maysam Mokarian
- @version 1.0
- @since 30.10.2017
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Student Center</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/ev.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" />
				</div>
				<p class="admin-message-text text-center" th:utext="${studentMessage}"></p>
                <form th:action="@{/student/chooseterm}" method="get">
                    <button class="btn btn-md btn-primary btn-block" name="Enroll" th:text="Enroll" type="Submit">
                        Enroll </button>
                </form>
                <form th:action="@{/student/schedule}" method="get">
                    <button class="btn btn-md btn-primary btn-block" type="Submit">View Class Schedule</button>
                </form>
                <form th:action="@{/student/tuition}" method="get">
                    <button class="btn btn-md btn-primary btn-block" type="Submit">View Tuition</button>
                </form>
                <form th:action="@{/student/contactinfo}" method="get">
                    <button class="btn btn-md btn-primary btn-block" type="Submit">Update Contact Information</button>
                </form>
				<form th:action="@{/student/transcript}" method="get">
					<button class="btn btn-md btn-primary btn-block" type="Submit">View Transcript</button>
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>