<!--
- A view and pay tuition page for a student
-
- @author Freyja Jokulsdottir
- @version 2.0
- @since 04.11.2017
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/student/home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
        </form>
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">Tuition</span>
                </div>
                <div class="panel-body">
                    <h2>Pending</h2>
                    <br>

                    <p th:utext="${tuition}"></p>

                    <p th:utext="${message}"></p>

                    <br>
                    <h2>Payment</h2>
                    <div class="paymentWrap">
                        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                            <label class="btn paymentMethod active">
                                <div class="method visa"></div>
                                <input type="radio" name="options" checked>
                            </label>
                            <label class="btn paymentMethod">
                                <div class="method master-card"></div>
                                <input type="radio" name="options">
                            </label>
                            <label class="btn paymentMethod">
                                <div class="method amex"></div>
                                <input type="radio" name="options">
                            </label>
                        </div>
                    </div>
                    <form  th:action="@{/student/tuition}" method="post" th:object="${tuitionRequest}">
                        <div class="col-xs-2">
                            <label for="ex1">Amount to Pay</label>
                            <input class="form-control" id="ex1" type="text"  th:field="*{amount}">
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="ex1">Card Number</label>
                                <input class="form-control" id="ex1" type="text" th:field="*{cardNum}">
                            </div>
                            <div class="col-xs-1">
                            <label for="ex2">MM/YY</label>
                            <input class="form-control" id="ex2" type="text" th:field="*{date}">
                            </div>
                            <div class="col-xs-1">
                                <label for="ex3">CVV</label>
                                <input class="form-control" id="ex3" type="text" th:field="*{cvv}">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-md btn-success" type="Submit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>