<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Administrator Center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/admin/home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
        </form>

        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">Student Enrollment</span>
                </div>
                <div class="panel-body">
                    <h3>Student Email:</h3>
                    <form  th:action="@{/admin/enroll}" method="post" th:object="${studentEmailRequest}">
                        <div class="col-xs-2">
                            <input class="form-control" type="text" th:field="*{studentEmail}">
                            <form th:action="@{/foundstudentenroll}" method="get">
                                <button class="btn btn-primary btn-md btn-success" type="Submit">Search</button>
                            </form>
                        </div>
                    </form>
                 </div>
             </div>
         </div>
     </div>
 </body>
 </html>