<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Administrator Center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/admin/home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
        </form>
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">Student Enrollment</span>
                </div>
                <div class="panel-body">
                    <h3>Student ID:</h3>
                    <div class="col-xs-2">
                        <input class="form-control" type="text">
                    </div>
                    <h3><br>Course Name:</h3>
                    <div class="col-xs-2">
                        <input class="form-control" type="text">
                    </div>
                    <div>
                        <button class="btn btn-md btn-success" type="Submit">Enroll</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>