<!--
- An modify course section page for an admin
-
- @author Freyja Jokulsdottir
- @version 1.0
- @since 03.12.2017
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Administrator Center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/admin/home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
        </form>

        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">Modify Course Sections</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Courses this semester</th> <th> </th>
                        </tr>
                        <tr th:each="index : ${#numbers.sequence( 0, #arrays.length(coursesToModify)-1)}">

                            <td th:text="${coursesToModifyFull[index]}"></td>
                            <td>
                                <a th:href="@{/admin/modifycoursesection/add/{course}(course=${coursesToModify[index]})}"><span>Add 1 Section</span></a>
                            </td>
                            <td>
                                <a th:href="@{/admin/modifycoursesection/remove/{course}(course=${coursesToModify[index]})}"><span>Remove 1 Section</span></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <p th:utext="${message}"></p>
            </div>
        </div>
    </div>
</body>
</html>